body{
    /*background-image: url('index image.jpg');*/
    background-color: lightgrey;
    background-size: 1000px;
    font-size: 22px;
}
input{
    display: block;
    background-color: lightcyan;
}
div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
    width: 250px;
    height: 23px;
    border-radius: 10px 10px 10px 10px;
    border: 1px dotted;
}
.main{
    margin: 50px 500px 100px 500px;}
h1{
    color: gray;
}
legend{
    color: red;
}
.btn1{
    height: 30px;
    border: 1px dotted;
    border-radius: 10px 10px 10px 10px;
    float: left;
}
.feild{
    border-radius: 10px 10px 10px 10px;
   border-color: lightskyblue;
}